body{
			font-family: Ariel, sans-serif;
			background-color: #F0F0F0;
			background-image: url("https://www.bungie.net/common/destiny2_content/icons/e76dac4b765f694bd2e50eef00aa95d4.png");
			background-size: contain;
			
		}

		.header{
			padding:20px;
			text-align: center;
			background:#323836;
			color:#FFFFFF;
		}

		.main{
			margin-left: 500px;
			padding: 0px 10px; 
		}

		.navbar{
			overflow: hidden;
			background-color: #777777;
			position: sticky;
			top: 0;
		}

		.navbar a{
			float: left;
			display: block;
			color: white;
			text-align: center;
			padding:14px 20px;
			text-decoration: none;
		}

		.navbar a:hover{
			background-color: #dddddd;
			color:black;
		}

		.navbar a.active{
			background-color: #666666:
			color:white; 
		}
		.sidebar{
			position: fixed;
			z-index: 1;
			top: 230px;
			overflow-x: hidden;
			width: 500px;
		}

